<div id="all">

  <div id="heading-breadcrumbs">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">Dashboard</h1>
        </div>
        <div class="col-md-5">
          <ul class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="container">
      <div class="row bar">
        <div class="col-md-4">
          <div class="box-simple">
            <div class="heading">
              <h4>Your Current Bill</h4>
            </div>
            <div class="box-simple">
              <h3>$125.00</h3>
              <p>Total Due<br>Total due reflects pending/scheduled payments</p>
              <p></p>
              <p><a href="#">Pay your Bill</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-simple">
            <div class="box-simple">
              <div class="table-responsive mt-5">
                <table class="table">
                  <tbody>
                    <tr>
                      <td><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Billing Period - <b>07/25/2019 –
                          08/26/2019</b></td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;<a href="">View Bill Current
                          Bill</a></td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Payment method - <b>Auto Pay</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-simple">
            <div class="heading">
              <h4>Account Details</h4>
            </div>
            <p><span class="panel-body text-widget bold"><b>12-345678-897</b></span><br> <span
                class="panel-body text-widget">123 First Main St, <br>New York NY 12345</span></p>
            <p><a href="#">Alerts &amp; Communication</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row bar">
        <div class="col-md-4">
          <div class="box-simple">
            <div class="heading">
              <a class="dropdown-item" 
              href="javascript:void(0)"
              routerLink="/outage/map"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Outage &amp; Map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row bar">
          <div class="col-md-4">
            <div class="box-simple">
              <div class="heading">
                <a class="dropdown-item" 
                href="javascript:void(0)"
                routerLink="/outage/report"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Outage &amp; Report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="heading">
            <h4>Recent Power Usage</h4>
          </div>
          <div>
            <img src="./assets/images/bill-graph.jpg">
          </div>
        </div>
        <div class="col-md-4">
          <div class="heading">
            <h4>Billing and Power Usage</h4>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td><a href="#">09/1//2019</a></td>
                <td>$246.00</td>
              </tr>
              <tr>
                <td><a href="#">08/26/2019</a></td>
                <td>$246.00</td>
              </tr>
              <tr>
                <td><a href="#">09/1//2019</a></td>
                <td>$246.00</td>
              </tr>
              <tr>
                <td><a href="#">08/26/2019</a></td>
                <td>$246.00</td>
              </tr>
              <tr>
                <td><a href="#">09/1//2019</a></td>
                <td>$246.00</td>
              </tr>
              <tr>
                <td><a href="#">08/26/2019</a></td>
                <td>$246.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
</div>