      <!-- FOOTER --> 
   <footer class="main-footer"> 
    <div class="container"> 
     <div class="row"> 
      <div class="col-lg-3"> 
       <ul class="list-unstyled footer-blog-list"> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Newsroom</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">For Our Business Partners</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Environment</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Media Resources</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Resources</a></p> 
         </div> </li> 
       </ul> 
       <hr class="d-block d-lg-none"> 
      </div> 
      <div class="col-lg-3"> 
       <ul class="list-unstyled footer-blog-list"> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Accessibility</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Regulation</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Privacy</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Terms and Conditions</a></p> 
         </div> </li> 
        <li class="d-flex align-items-center"> 
         <div class="text"> 
          <p class="mb-0"> <a href="#">Site Feedback</a></p> 
         </div> </li> 
       </ul> 
       <hr class="d-block d-lg-none"> 
      </div> 
      <div class="col-lg-3"> 
       <h4 class="h6">Send Billing Checks To</h4> 
       <p class="text-uppercase"><strong>Thunderbolt Power & Gas</strong><br><strong>123 1st Street</strong><br>New York, NY 12345<br> Tel +1(123)456-7890</p> 
       <p class="text-uppercase"></p> 
       <hr class="d-block d-lg-none"> 
      </div> 
      <div class="col-lg-3"> 
       <a href="#" class="btn btn-template-main" style="width:250px;">Contact Us</a> 
       <hr class="d-block d-lg-none"> 
       <p class=""> </p>
       <ul class="footer-social social-custom list-inline"> 
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li> 
        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li> 
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li> 
        <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li> 
       </ul> 
       <p></p> 
      </div> 
     </div> 
    </div> 
    <div class="copyrights"> 
     <div class="container"> 
      <div class="row"> 
       <div class="col-lg-4 text-center-md"> 
        <p>© 2019 Thunderbolt Power & Gas. All rights reserved.</p> 
       </div> 
       <div class="col-lg-8 text-right text-center-md"> 
        <p><img src="./assets/images/logo-off.png"></p> 
       </div> 
      </div> 
     </div> 
    </div> 
   </footer> 